/*
    social
*/

.contact-card {
  display: flex;
  margin: auto;
  width: 70%;
}

.social > ul.social-bubbles-list {
  display: flex;
  justify-content: space-around;
  flex: 1 1;
  flex-flow: wrap;
  flex-direction: row;
  width: auto;
}

.social > ul.social-bubbles-list > li {
  flex: 1;
  background: var(--color-white);
  padding: 2rem;
  margin: 1rem;
  border-radius: 3px;
}

.social > ul.social-bubbles-list > li a {
  text-decoration: none;
  padding: 0;
}

.social > ul.social-bubbles-list > li a .logo-label {
  text-decoration: underline;
}
