.experiment-card-container {
  width: 60%;
  margin: auto;
}

.experiment-card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 3rem 1rem;
}

.experiment-meta {
  width: 80%;
  text-align: start;
}

.experiment-title {
  font-size: 1.7rem;
  margin-bottom: 0;
}

.experiment-date {
  font-weight: 300;
  font-size: 0.9rem;
}

.experiment-description {
  margin-top: 1rem;
  font-weight: normal;
}

.experiment-techs {
  font-weight: 300;
  font-size: 1rem;
  margin-top: 1rem;
  font-style: italic;
}

.experiment-url-container {
  text-align: start;
  font-size: 1.2rem;
}

.experiment-url-container ul {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
}


@media screen and (max-width: 1024px) {
  .experiment-card-container {
    width: auto;
  }
  .experiment-media-container {
      text-align: end;
  }
  
  .experiment-media-container>ul {
      flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .experiment-card {
    margin: 1.5rem 1rem;
    flex-direction: column;
    justify-content: center;
  }

  .experiment-url-container {
    width: 100%;
    justify-content: flex-end;
    display: flex;
  }
}
