article.me-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.me-info {
  display: flex;
  justify-content: center;
}

section.me-info > .me-name {
  text-align: center;
}

section.me-info > .pic-container {
  display: flex;
  justify-content: center;
}