article.me-card {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center
}

section.me-info {
  display: flex;
  justify-content: center;
}

section.me-info > .me-name {
  text-align: center;
}

section.me-info > .pic-container {
  display: flex;
  justify-content: center;
}