.info-card {
  width: 60%;
  margin: auto;
  font-size: 1.8rem;
  padding: 2rem 7rem;
  letter-spacing: 0.08rem;
  font-weight: 300;
}

.info-card ul li {
  margin: 2rem;
}

.info-card ul li ul li {
  margin: 1.5rem;
}

@media screen and (max-width: 640px) {
  .info-card {
    width: auto;
    margin: 0;
    font-size: 1.8rem;
    padding: 0 2.5rem;
    letter-spacing: 0.08rem;
    font-weight: 300;
  }
}
