.login-container {
  display: flex;
  justify-content: center;
}

.login-button-element img {
  max-width: 18px;
  max-height: 18px;
  height: 100%;
  width: 100%;
}

.login-button-element button {
  display: flex;
  border: none;
  background-color: var(--color-white);
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}

.login-button-element button > .text-label{
  color:var(--color-login-button-label);
  padding-left: 1rem;
}