/* Global Overwrittes */

body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  background-color: var(--color-main);
  color: var(--color-white);
  font-weight: 700;
}

h1,
h3,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 7rem;
  letter-spacing: 0.05em;
}
.subtitle {
  text-align: center;
  padding: 2rem 1rem;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 6rem;
  }
}


ul {
  padding: 0;
}

ul.unstyled li {
  list-style: none;
}

li>ul {
  margin-left: 2rem;
}

a {
  padding: 0.3rem 0.5rem;
  width: 100%;
  height: 100%;
  color: var(--color-link);
}

a,
a:visited,
a:hover,
a:active {
  color: var(--color-link);
}

/* 
    Helper Classes
*/

.text-left {
  text-align: left;
}

.title-floating {
  text-align: center;
  color: var(--color-secondary);
  font-size: 4rem;
  font-size: calc(100% + 8vmin);
  overflow-wrap: break-word;
  margin: 4rem 0 6rem 0;
}

.card {
  display: flex;
  background-color: var(--color-white);
  color: var(--color-black);
  margin: 1rem;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 1.8rem 2rem;
  flex-flow: column;
  border-radius: 3px;
}

/*
    Global Stuff
*/

nav {
  display: flex;
  justify-content: flex-end;
  height: var(--nav-height);
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav li {
  margin: 0.3rem 1rem;
}

nav a,
nav a:visited {
  text-decoration: none;
  font-size: 1.3rem;
  border-radius: 3px;
  color: var(--color-white);
  text-align: center;
  display: flex;
  height: auto;
  width: auto;
}

nav a:hover,
li.active a {
  background-color: var(--color-accent);
  color: var(--color-black);
}

nav a:focus,
nav a:active {
  background-color: var(--color-accent-lighter);
  outline-color: var(--color-accent);
  text-decoration: var(--color-text-dark) underline;
  color: var(--color-text-dark);
  border-radius: 5px;
}

@media screen and (max-width: 760px) {
  nav {
    justify-content: start;
  }

  nav .nav-links {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  nav .nav-links a {
    display: flex;
  }

  nav a:hover {
    background-color: var(--color-accent-lighter);
    outline-color: var(--color-accent);
    text-decoration: var(--color-text-dark) underline;
    color: var(--color-text-dark);
    border-radius: 5px;
  }
}

@media (min-width: 360px) and (max-width: 480px) {
  nav {
    justify-content: space-around;
  }

  nav li {
    margin: 0.3rem 0;
  }
}

/* /nav */

section ul[class$="-list"] > li > a {
  display: flex;
  flex-direction: column;
  text-align: center;
}

section ul[class$="-list"] > li > a .logo-label {
  margin-top: 1.2em;
  font-weight: bold;
}
