body {
  margin: 0;
  font-family: 'Lunasima', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1,h2,h3 {
  font-family: 'jost', sans-serif;
}

/* Global Overwrittes */
ul {
  padding: 0;
}

ul.unstyled li {
  list-style: none;
}

li>ul {
  margin-left: 2rem;
}

a {
  padding: 0.3rem 0.5rem;
  width: 100%;
  height: 100%;
  color: var(--color-accent);
}

a,
a:visited,
a:hover,
a:active {
  color: var(--color-primary);
}

/*
    Global Stuff
*/

nav {
  display: flex;
  justify-content: flex-end;
  height: var(--nav-height);
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav li {
  margin: 0.3rem 1rem;
  outline: 1px;
  outline-color: var(--color-text);
}

nav a,
nav a:visited {
  text-decoration: none;
  font-size: 1.3rem;
  border-radius: 3px;
  color: var(--color-text);
  text-align: center;
  display: flex;
  height: auto;
  width: auto;
}

nav a:hover {
  background-color: var(--color-primary);
  color: var(--color-text);
}

li.active a {
  background-color: var(--color-secondary);
  color: var(--color-black);
}

nav a:focus,
nav a:active {
  background-color: var(--color-secondary);
  outline-color: var(--color-primary);
  text-decoration: var(--color-text) underline;
  color: var(--color-text);
  border-radius: 5px;
}

@media screen and (max-width: 760px) {
  nav {
    justify-content: center;
  }

  nav .nav-links {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

}

/* /nav */

section ul[class$="-list"] > li > a {
  display: flex;
  flex-direction: column;
  text-align: center;
}

section ul[class$="-list"] > li > a .logo-label {
  margin-top: 1.2em;
  font-weight: bold;
}
