.sample-card-container {
  width: 60%;
  margin: auto;
}

.sample-card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 3rem 1rem;
}

.sample-meta {
  width: 80%;
  text-align: start;
}

.sample-title {
  font-size: 1.7rem;
  margin-bottom: 0;
}

.sample-date {
  font-weight: 300;
  font-size: 0.9rem;
}

.sample-description {
  margin-top: 1rem;
  font-weight: normal;
}

.sample-techs {
  font-weight: 300;
  font-size: 1rem;
  margin-top: 1rem;
  font-style: italic;
}

.sample-url-container {
  width: 30%;
  text-align: start;
  font-size: 1.2rem;
}

.sample-url-container ul {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
}


@media screen and (max-width: 1024px) {
  .sample-card-container {
    width: auto;
  }
  .sample-media-container {
      text-align: end;
  }
  
  .sample-media-container>ul {
      flex-direction: column;
  }
}
