.talk-card-container {
  width: 60%;
  margin: auto;
}

.talk-card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 3rem 1rem;
}

.talk-meta {
  width: 80%;
  text-align: start;
}

.talk-title {
  font-size: 1.7em;
  margin-bottom: 0.5em;
}

.talk-location {
  font-size: 1.2em;
  font-weight: lighter;
}

.talk-date {
  font-weight: lighter;
  font-size: 0.9em;
}

.talk-media-container {
  width: 30%;
  text-align: start;
  font-size: 1.2em;
}

.talk-media-container ul {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
}


@media screen and (max-width: 1024px) {
  .talk-card-container {
    width: auto;
  }
  .talk-media-container {
      text-align: end;
  }
  
  .talk-media-container>ul {
      flex-direction: column;
  }
}
