main.hire-me
  
  &>section.hire-me-container
    transform translateY(25%)
    
    &>.card
      padding 2rem
      min-width auto
      
      @media screen and (max-width 800px)
        max-width 80%
    

    &>h1
      font-size 3rem

      &>small
        font-size 1.5rem
        color #9a9a9a
        
        &>a
          color inherit
        
      
    

    &>h4
      margin-top 0
      margin-right 0
      margin-bottom .5rem
      margin-left 0
    

    &>p
      margin-top 0 
      margin-bottom 2.5rem
