<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.html', {description: 'Code samples or fun projects'}); %>
  <link rel="stylesheet" href="./assets/stylesheets/samples.css" media="all">
</head>

<body>

  <header>
    <%- include('../partials/header.html', {currentPageName: 'samples'}); %>
  </header>

  <h1 class="title-floating">Samples</h1>

  <h2 class="subtitle">Things that I spent a little bit more time on (at least more than what I spend on the <a href="/experiments">experiments</a>)</h2>

  <section class="sample-card-container">
    <% if (samplesArr.length) { %>
      <% samplesArr.forEach(function(sampleObj){ %>
        <article class="sample-card card">
          <div class="sample-meta">
            <h2 class="sample-title">
              <%= sampleObj.name %>
            </h2>
            <div class="sample-date">
              <%= sampleObj.date %>
            </div>
            <div class="sample-description">
              <%= sampleObj.description %>
            </div>
            <div class="sample-techs">
              <% sampleObj.technologies.forEach(function(tech, index){ %>
                <span class="sample-media-elem">
                  <%= tech %><% if (sampleObj.technologies.length !== (index + 1)) { %>,
                  <% } %>
                </span>
              <% }); %>
            </div>
          </div>
          <div class="sample-url-container">
            <ul class="unstyled sample-url-list">
              <li class="sample-url-elem">
                <a href="<%= sampleObj.repo %>" target="_blank" rel="noopener noreferrer">repo</a>
              </li>
              <li class="sample-url-elem">
                <a href="<%= sampleObj.demo %>" target="_blank" rel="noopener noreferrer">demo</a>
              </li>
            </ul>
          </div>
        </article>
      <% }); %>
    <% } %>
  </section>

  <%- include('../partials/bottom.html'); %>

</body>

</html>