<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .me-info {
      margin: 0 auto;
      min-height: calc(100vh - var(--nav-height));
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .me-name h1 {
      display: block;
      font-size: 8rem;
      letter-spacing: 0.5rem;
      font-size: 7rem;
      letter-spacing: 0.05em;
    }
  </style>
  <%- include('../partials/head.html', {description: 'Diego Coy, web developer'}); %>
  <link rel="stylesheet" href="./assets/stylesheets/home.css" media="all">
</head>

<body>

  <header>
    <%- include('../partials/header.html', {currentPageName: 'home'}); %>
  </header>

  <main>
    <article class="me-card">
      <section class="me-info">
        <div class="me-name">
          <h1>Diego Coy</h1>
          <h2 class="me-subtitle">Developer Advocate | Web Developer</h2>
        </div>
      </section>
    </article>
  </main>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Person",
      "name": "Diego Coy",
      "url": "http://www.diegocoy.com",
      "nationality": {
        "@type": "Country",
        "name": "Colombia"
      },
      "jobTitle": "Developer Advocate | Web Developer",
      "homeLocation": {
        "@type": "Place",
        "name": "Amstedam, the Netherlands"
      },
      "award": [
        "Google Developer Expert",
        "Google for Startups mentor"
      ] 
    }
  </script>

  <%- include('../partials/bottom.html'); %>


</body>

</html>