<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.html', {description: 'Who am I, you ask?'}); %>
    <link rel="stylesheet" href="./assets/stylesheets/info.css" media="all">
</head>

<body>

    <header>
        <%- include('../partials/header.html', {currentPageName: 'info'}); %>
    </header>

    <article class="description-text">
        <h2 class="title-floating">about:me</h2>
        <div class="card info-card">
            <div class="text-left">
                <ul>
                    <li>
                        Based in: Amsterdam, the Netherlands.
                    </li>
                    <li>
                        Developer focused on the browser side of things. I like to spend my time using the latest APIs and sharing what I learn.
                    </li>
                    <li>
                        <p>I'm a "communities person": before moving to the Netherlands I was leading several communities in Colombia.</p>
                        <ul>
                            <li>Helping developers from the Latin American region to succeed in the tech. world.</li>
                            <li>I'd say, yes I love coding, but I'm really passionate about engaging with and helping other devs out.</li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
    </article>


    <%- include('../partials/bottom.html'); %>

</body>

</html>