<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.html', {description: 'Some of my past talks'}); %>
    <link rel="stylesheet" href="./assets/stylesheets/talks.css" media="all">
</head>

<body>

    <header>
        <%- include('../partials/header.html', {currentPageName: 'talks'}); %>
    </header>

    <h2 class="title-floating">Talks</h2>

    <section class="talk-card-container">
        <% if (talksArr.length) { %>
            <% talksArr.forEach(function(talkObj){ %>
            <article class="talk-card card">
                <div class="talk-meta">
                    <h3 class="talk-title">
                        <%= talkObj.title %>
                    </h3>
                    <div class="talk-location"><%= talkObj.location.geographical.city %>,
                        <%= talkObj.location.geographical.country %></div>
                    <div class="talk-date"><%= talkObj.date %></div>
                </div>
                <div class="talk-media-container">
                    <ul class="unstyled talk-media-list">
                        <% talkObj.resources.forEach(function(res){ %>

                        <li class="talk-media-elem">
                            <a href="<%= res.url %>" rel="noopener noreferrer"><%= res.name %></a>
                        </li>

                        <% }); %>
                    </ul>
                </div>
            </article>
            <% }); %>
        <% } %>
    </section>

    <%- include('../partials/bottom.html'); %>

</body>

</html>