        <nav>
            <ul class="unstyled nav-links" role="menu">
                <li role="none" <% if (currentPageName === 'home') { %>class="active" <% } %>>
                    <a href="/" role="menuitem">Home</a>
                </li>
                <li role="none" <% if (currentPageName === 'info') { %>class="active" <% } %>>
                    <a href="/info" role="menuitem">About Me</a>
                </li>
                <li role="none" <% if (currentPageName === 'talks') { %>class="active" <% } %>>
                    <a href="/talks" role="menuitem">Talks</a>
                </li>
                <li role="none" <% if (currentPageName === 'contact') { %>class="active" <% } %>>
                    <a href="/contact" role="menuitem">Contact</a>
                </li>
            </ul>
        </nav>