<%- include('../_includes/_head.html') %>
<%- include('../_includes/_header.html') %>

<main class="hire-me">
  <section class="hire-me-container">
    
    <div class="card me-card">
      <h1>I just met you and this is crazy... <small><a class="email-link">But here is my email</a>, so write me maybe</small></h1>

      <h4>Training</h4>
      <p>I can share my knowledge with you or your team, I'm always happy to teach others about <strong>modern</strong> web development and Angular. I provide remote and on site training</p>

      <h4>Speaking</h4>
      <p>Planning an event and have a spot available on web development? Count me in!!!</p>
      
      <h4>Coding</h4>
      <p>I may be looking for a remote position on a cool app/service that uses modern stuff. Part time preferred... But lets talk about it</p>
      
    </div>
  </section>
</main>

<%- include('../_includes/_scripts.html') %>